.related-posts{
	&-title{
		color: #474d52;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	&-item{
		&-icon{
			color: #c3c3c3;
			margin-bottom: 20px;
			font-size: 15px;
		}
		&-link{
			text-decoration: none;
			color: inherit;
			font-weight: 300;
			font-size: 15px;
			&:hover{
				text-decoration: none;
			}
		}
		&-title{
			color: $color-primary;
		}
	}
}